body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.brown-color{
    color: brown;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 70%;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(brown, tomato);
    padding: 10px 30px;
    border-radius: 6px;
    color: white;
    font-weight: 300px; 
}
